body {
    background-color: #F8F7EE;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}
main {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #container {
      width: 100%;
  }
  ul {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      padding-left: 0;
  }
  li {
      display: flex;
      flex-direction: column;
      padding: 24px 16px 24px 16px;
      margin-bottom: 24px;
      background: white;
      border-radius: 12px;
      color: #061344;
  }
  li > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .score {
      color: #116DF9;
  }
  
  .players {
      display: none;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.5em;
      font-family: 'Lato', sans-serif;
      text-transform: capitalize;
      background: #edece3;
      color: #061344;
      margin: 24px -16px -24px;
      border-radius: 0px 0px 8px 8px;
      padding-top:16px;
  }
  #table > li:first-of-type {
      background: #FB0A56;
      color: white;
  }
  #table > li:first-of-type > div .score {
    color: white;
  }
  #bm {
    width:100px;
    height:100px;
  }
#loader {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#F8F7EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    opacity: 1;
    transition: opacity 0.5s;
}
.fade {
    opacity: 0 !important;
}
img {
    width: 200px;
    height: 200px;
}
.col-2 {
    background: none;
    padding: 0px 0px 0px 16px;
    line-height: 1.5em;
}
.col-2:nth-of-type(2) {
    text-align: right;
    padding: 0px 16px 0px 0px;
  }
  .col-2 > br:first-of-type {
      display: none;
  }
.show {
    display: flex;
}
.trigger {
    cursor: pointer;
    transition: all 0.3s;
}
.trigger:hover {
    transform:translateY(-8px);
    box-shadow: 0px 8px 24px rgba(0,0,0,0.1);
}